body {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
}

h1, 
h2,
h3,
p {
    margin: 0px;
    margin-block-start: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-size: 9rem;
    text-transform: uppercase;
    line-height: 1;
    word-break: break-all;
    max-width: 4ch;
}